

body {
    box-sizing: border-box;
    padding: 350px;
}
.scene {
    box-sizing: border-box;
    perspective:600px;
    perspective-origin: 50% 30%; 
}


.cube {
    height: 200px;
    width: 200px;
    transform-style: preserve-3d;
    position: relative;
    animation: spin 10s linear infinite;
}

 .face {
    position: absolute;
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
    transform-origin: center;
   
}

.front {
    transform: translateZ(100px);
    background-color: aqua;
    
}


.back{
    transform: rotateY(180deg) translateZ(100px);
    background-color: palegreen;
}
.top{
    background-color: brown;
    transform : rotateX(90deg) translateZ(100px) ;
    

}


 .bottom{
    background-color: chocolate;
    transform: rotateX(-90deg) translateZ(100px);
    
}



.left {
    background-color: blue;
    transform: rotateY(-90deg) translateZ(100px);
    
    
}
.right {
    background-color: bisque;
    transform: rotateY(90deg) translateZ(100px);
    
} 


@keyframes spin {
  from { transform: rotateY(0deg)  rotateX(20deg) ; }
  to   { transform: rotateY(360deg) rotateX(20deg); }
}

.cube:hover {
    animation-play-state: paused;
}